<ion-content class="edit-modal-content" (click)="closeModal()">
  <div class="modal-wrapper">
    <div #modalContainer class="edit-note-modal animate-modal" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <span class="header-title">ערוך פתק</span>
      </div>

      <div class="form-content">
        <ion-label class="titleNotes">כותרת</ion-label>
        <ion-item class="input-field">
          <ion-input [(ngModel)]="title"></ion-input>
        </ion-item>
        <ion-label class="titleNotes">תוכן</ion-label>
        <ion-item class="input-field">
          <ion-textarea class="input-field-content" [(ngModel)]="content" rows="6"></ion-textarea>
        </ion-item>
      </div>

      <ion-button class="save-button" expand="block" (click)="saveChanges()">
        שמור
      </ion-button>
    </div>
  </div>
</ion-content>
