.popup-modal {
  height: 80vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}

.drag-handle {
  width: 40px;
  height: 5px;
  background-color: transparent;
  border-radius: 2.5px;
  margin: 0 auto 15px auto;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: #333;
  text-align: right;
  line-height: 10px;
}

p {
  font-size: 1em;
  color: #666;
  text-align: right;
}

ion-segment {
  margin-bottom: 20px;  
}

ion-list {
  margin-top: -20px;
}

ion-card {
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 35%;
  width: 100%;
}

.training-details {
  text-align: right;  /* Move text to the right edge */
  padding-left: 30%; /* Add a little padding to move the content slightly from the edge */
  margin: 0 auto; /* This centers the inner div horizontally */


}

.training-details h2 {
  font-size: 1.2em;
}

.training-details p {
  font-size: 0.9em;
  color: #666;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-self: center;
  position: absolute;
  left: 10px;
  top: 30%;
}

.status-icon {
  font-size: 24px;
  color: red;
  margin-left: 10px; /* Space between arrow and status icon */
}

.arrow-icon {
  font-size: 24px;
  color: #888;
}

/* Custom active tab indicator */
ion-segment-button.ion-activated {
  --background: #3498db;   /* Change background for active state */
  --color: red;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3); /* Soft shadow for the active tab */
}

/* iOS-specific customization */
.ios ion-segment-button {
  font-size: 1.1em;
  //--background-checked: #007bff;  /* Change this to the blue color for iOS */
  //--color-checked: white;
  //--background: #f0f0f0;         /* Slight background color for inactive */
  //border-radius: 15px;
  padding: 12px 20px;
  //--color: #333;                 /* Slightly darker for inactive */
  border: 1px solid #ddd;        /* Softer border for iOS */
}