<ion-content class="popup-modal" #popup>
  <!-- Drag handle -->
  <div class="drag-handle"></div>

  <!-- Profile Section with Settings Button -->
  <div class="profile-section">
    <img class="avatar" [src]="userPhoto" alt="User Avatar">
    <h2>{{ userName }}</h2>
    <p>{{ userRole }}</p>

    <!-- Settings button -->
    <ion-icon name="settings-outline" class="settings-icon" (click)="showSettings()"></ion-icon>
  </div>

  <!-- Show subscription details if available -->
  <div *ngIf="nextRenewalDate">
    <p>Next Renewal: {{ nextRenewalDate }}</p>
    <p>Slots Left: {{ slotsLeft }}</p>
  </div>

  <!-- Tabs for Trainings and Purchases -->
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="trainings">
      <ion-label>אימונים</ion-label>
    </ion-segment-button>
    <ion-segment-button value="purchases">
      <ion-label>רכישות</ion-label>
    </ion-segment-button>
  </ion-segment>

      <!--Skeleton Section-->
      <ion-list *ngIf="isLoading">
        <ion-list-header>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-list-header>
        <ion-item *ngFor="let i of [1, 2, 3, 4]" lines="none" class="skeleton-item">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>

  <!-- List of User's Appointments -->
  <div *ngIf="selectedTab === 'trainings'">
    <ion-list>
      <ion-card *ngFor="let appointment of userAppointments" (click)="showActions(appointment)">
        <ion-card-header>
                   <!-- Arrow and Status icon -->
                   <div class="icon-container">
                    <!-- Status icon directly to the right of arrow -->
                    <ion-icon 
                      class="status-icon"
                      [name]="getStatusIcon(appointment.userBookingStatus)" 
                      [color]="getStatusColor(appointment.userBookingStatus)">
                    </ion-icon>
                    <!-- Arrow icon aligned in left-center -->
                    <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
                  </div>

          <!-- Title and Date/Time -->
          <ion-label class="training-details">
            <h2>{{ appointment.title }}</h2>
            <p>{{ appointment.bookingStart | date: 'shortDate' }} | {{ appointment.bookingStart | date: 'HH:mm' }} </p>
          </ion-label>
        </ion-card-header>

      </ion-card>
    </ion-list>
  </div>

 <!-- Purchases List Styled Similar to Trainings List -->
 <div *ngIf="selectedTab === 'purchases'">
  <ion-list>
    <ion-card *ngFor="let purchase of userPurchases">
      <ion-card-header>
        <div class="icon-container">
          <!-- Arrow icon aligned in left-center -->
          <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
        </div>

        <!-- Purchase item details (Order Number as Title and First Product as Description) -->
        <ion-label class="training-details">
          <h2>{{ purchase.orderNumber }}</h2>
          <p>{{ purchase.products[0].name }}</p>
        </ion-label>
      </ion-card-header>
    </ion-card>
  </ion-list>
</div>
</ion-content>
