<ion-content class="popup-modal" #popup>
  <!-- Drag handle -->
  <div class="drag-handle"></div>

  <!-- Profile Section -->
  <div class="profile-section">
    <img class="avatar" [src]="userPhoto" alt="User Avatar">
    <h2>{{ userName }}</h2>
    <p>{{ userRole }}</p>
  </div>

  <!-- Show subscription details if available -->
  <div *ngIf="nextRenewalDate">
    <p>Next Renewal: {{ nextRenewalDate }}</p>
    <p>Slots Left: {{ slotsLeft }}</p>
  </div>

  <!-- Tabs for Trainings and Purchases -->
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="trainings">
      <ion-label>אימונים</ion-label>
    </ion-segment-button>
    <ion-segment-button value="purchases">
      <ion-label>רכישות</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- List of User's Appointments -->
  <div *ngIf="selectedTab === 'trainings'">
    <ion-list>
      <ion-card *ngFor="let booking of userAppointments">
        <ion-card-header>
          <!-- Title and Date/Time -->
          <ion-label class="training-details">
            <h2>{{ booking.title || 'Training' }}</h2>
            <p>{{ booking.bookingStart | date: 'shortDate' }} | {{ booking.bookingStart | date: 'shortTime' }}</p>
          </ion-label>
        </ion-card-header>

        <ion-card-content>
          <!-- Status of the Booking 
          <p>Status: 
            <ion-badge [color]="getStatusColor(appointment.bookings[0].status)">-->
              <!--{{ appointment.bookings[0].status | translateStatus }}  Assuming you have a translation pipe
            </ion-badge>
          </p> -->
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

 <!-- Purchases List Styled Similar to Trainings List -->
 <div *ngIf="selectedTab === 'purchases'">
  <ion-list>
    <ion-card *ngFor="let purchase of userPurchases">
      <ion-card-header>
        <div class="icon-container">
          <!-- Arrow icon aligned in left-center -->
          <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
        </div>

        <!-- Purchase item details (Order Number as Title and First Product as Description) -->
        <ion-label class="training-details">
          <h2>{{ purchase.orderNumber }}</h2>
          <p>{{ purchase.products[0].name }}</p>
        </ion-label>
      </ion-card-header>
    </ion-card>
  </ion-list>
</div>
</ion-content>
