<ion-content class="popup-modal" #popup>
  <!-- Drag handle -->
  <div class="drag-handle"></div>

  <!-- Profile Section -->
  <div class="profile-section">
    <img class="avatar" [src]="userPhoto" alt="תמונת פרופיל">
    <h2>{{ userName }}</h2>
    <p>{{ userRole }}</p>
  </div>

  <!-- Tabs for Trainings and Purchases -->
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="trainings">
      <ion-label>אימונים</ion-label>
    </ion-segment-button>
    <ion-segment-button value="purchases">
      <ion-label>רכישות</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Filtered Trainings List Sorted by Date -->
  <div *ngIf="selectedTab === 'trainings'">
      <!-- Single Filter Button with clear "X" button -->
  <div class="filter-header">
    <ion-button expand="block" (click)="toggleDropdown()" class="custom-button">סינון</ion-button>
    <ion-icon name="close-circle-outline" class="clear-filter-icon" *ngIf="isFilterActive()" (click)="clearTypeFilter()"></ion-icon>
  </div>

    <!-- Modern Dropdown for Filters -->
    <ion-list *ngIf="showDropdown" class="filter-dropdown">
      <ion-list>
        <ion-item *ngFor="let type of availableTypes">
          <ion-label>{{ type }}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="selectedTypes[type]"></ion-checkbox>
        </ion-item>
      </ion-list>
      
  
      <ion-item>
        <ion-label>תצוגה</ion-label>
        <ion-segment [(ngModel)]="availabilityFilter">
          <ion-segment-button value="all">
            <ion-label>הכל</ion-label>
          </ion-segment-button>
          <ion-segment-button value="upcoming">
            <ion-label>עתידי</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-card *ngFor="let training of filteredTrainings()" (click)="showActions(training)">
        <ion-card-header>
          <div class="icon-container">
            <ion-icon 
              class="status-icon"
              [name]="getStatusIcon(training.status)" 
              [color]="getStatusColor(training.status)">
            </ion-icon>
            <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
          </div>
          <ion-label class="training-details">
            <h2>{{ training.title }}</h2>
            <p>{{ training.time}}</p>
          </ion-label>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>


  <ion-alert
  [isOpen]="showCancelAlert"
  header="בטל הזמנה"
  message="האם אתה בטוח שברצונך לבטל את האימון?"
  buttons="[
    {
      text: 'לא',
      role: 'cancel',
      handler: () => {
        showCancelAlert = false;
      }
    },
    {
      text: 'כן',
      handler: () => {
        cancelTraining(selectedTraining);
        showCancelAlert = false;
      }
    }
  ]"
  ></ion-alert>



  <!-- Purchases List Styled Similar to Trainings List -->
  <div *ngIf="selectedTab === 'purchases'">
    <ion-list>
      <ion-card *ngFor="let purchase of userPurchases">
        <ion-card-header>
          <div class="icon-container">
            <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>
          </div>
          <ion-label class="training-details">
            <h2>{{ purchase.orderNumber }}</h2>
            <p>{{ purchase.products[0].name }}</p>
          </ion-label>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
