<ion-content class="popup-modal" #popup #mainContentProfile>
  <!-- Drag handle -->
  <div class="drag-handle"></div>

  <!-- Profile Section with Settings Button -->
  <div class="profile-section">
    <img class="avatar" [src]="gravatarUrl" alt="User Avatar">
    <h2>{{ userName }}</h2>
    
    <!-- Settings button -->
    <ion-icon name="settings-outline" class="settings-icon" id="settings-trigger"></ion-icon>
    <ion-popover trigger="settings-trigger" triggerAction="click" dismissOnSelect="false" class="profilePopover">
      <ng-template>
        <ion-content class="scroll-y-hidden ion-padding">
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="location-outline"></ion-icon>
              <div class="custom-three-way-toggle">
                <!-- Left -->
                <input
                  type="radio"
                  id="left"
                  name="location"
                  value="הכל"
                  [(ngModel)]="selectedLocation"
                  (change)="updateFavLocation('הכל')"
                >
                <label 
                  [ngClass]="{'active': favLocation === 'הכל'}" 
                  for="left"
                >
                  הכל
                </label>
            
                <!-- Center -->
                <input
                  type="radio"
                  id="center"
                  name="location"
                  value="שלום עליכם"
                  [(ngModel)]="selectedLocation"
                  (change)="updateFavLocation('שלום עליכם')"
                >
                <label 
                  [ngClass]="{'active': favLocation === 'שלום עליכם'}" 
                  for="center"
                >
                  שלום עליכם
                </label>
            
                <!-- Right -->
                <input
                  type="radio"
                  id="right"
                  name="location"
                  value="בן יהודה"
                  [(ngModel)]="selectedLocation"
                  (change)="updateFavLocation('בן יהודה')"
                >
                <label 
                  [ngClass]="{'active': favLocation === 'בן יהודה'}" 
                  for="right"
                >
                  בן יהודה
                </label>
            
                <div class="slider"></div>
              </div>
            </ion-item>
            
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>התנתק</ion-label>
            </ion-item>

          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    
    
    

  

  <!-- Show subscription details if available -->
  <div *ngIf="nextRenewalDate" class="subscriptionDetails">    
    <ion-chip>
      <ion-icon name="barbell-outline" color="medium"></ion-icon>
      <ion-label>{{slotsLeft}} אימונים נותרו</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="calendar-outline" color="medium"></ion-icon>
      <ion-label>תוקף: {{nextRenewalDate}}</ion-label>
    </ion-chip>

  </div>
  </div>
  <div class="inside-container">
    <div class="header-tabs">
      <!-- Tabs for Trainings and Purchases -->
      <ion-segment mode="md" [(ngModel)]="selectedTab" class="segment-tab" (ionChange)="onTabChange($event)">
        <ion-segment-button value="trainings" class="header-tab">
          <ion-label>אימונים</ion-label>
        </ion-segment-button>
        <ion-segment-button value="purchases" class="header-tab">
          <ion-label>רכישות</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!--Skeleton Section-->
    <ion-list *ngIf="isLoading">
          <ion-list-header>
            <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
          </ion-list-header>
          <ion-item *ngFor="let i of [1, 2, 3, 4]" lines="none" class="skeleton-item">
            <ion-thumbnail slot="start">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
    </ion-list>

    <!-- List of User's Appointments -->
    <div *ngIf="selectedTab === 'trainings'">

      <div class="filter-header" *ngIf="!isLoading">
        <ion-button class="filter-button" (click)="toggleFilterDropdown()" fill="outline">
          <ion-icon name="options-outline" slot="start"></ion-icon>
          סינון
        </ion-button>
      </div>        

      <!-- Modern Dropdown for Filters -->
      <ion-list *ngIf="showDropdown" class="filter-dropdown">
        <ion-item>
          <ion-label style="text-indent: 8px;">הצג</ion-label>
          <ion-segment [(ngModel)]="availabilityFilter" (ionChange)="onFilterChange()">
            <ion-segment-button value="all" class="sub-label-segment">
              <ion-label class="sub-label">הכל</ion-label>
            </ion-segment-button>
            <ion-segment-button value="approved" class="sub-label-segment">
              <ion-label class="sub-label">
                <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="cancelled" class="sub-label-segment">
              <ion-label class="sub-label">
                <ion-icon name="close-circle-outline" slot="start" color="danger"></ion-icon>
              </ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-list>


      <ion-list>
        <ion-card *ngFor="let appointment of filteredAppointments" (click)="appointment.userBookingStatus === 'approved' ? showActions(appointment) : null">
          <ion-card-header>
                    <!-- Arrow and Status icon -->
                    <div class="icon-container">
                      <!-- Status icon directly to the right of arrow -->
                      <ion-icon 
                        class="status-icon"
                        [name]="getStatusIcon(appointment.userBookingStatus)" 
                        [color]="getStatusColor(appointment.userBookingStatus)">
                      </ion-icon>

                      <!-- Arrow icon aligned in left-center -->
                      <ion-icon  *ngIf="appointment.userBookingStatus == 'approved'" name="chevron-forward-outline" class="arrow-icon"></ion-icon>
                    </div>

            <!-- Title and Date/Time -->
            <ion-label class="training-details">
              <h2>{{ appointment.title }}</h2>
              <p>{{ appointment.bookingStart | date: 'dd/MM/yyyy'}} | {{ appointment.bookingStart | date: 'HH:mm' }} </p>
            </ion-label>
          </ion-card-header>

        </ion-card>
      </ion-list>
    </div>

    <!-- Purchases List Styled Similar to Trainings List -->
    <div *ngIf="selectedTab === 'purchases'">
      <ion-list>
        <ion-card *ngFor="let purchase of userPurchases" (click)="downloadInvoice(purchase)">
          <ion-card-header>
            <div class="icon-container">
              
              <ion-icon 
              class="status-icon"
              [name]="getStatusIcon(purchase.status)" 
              [color]="getStatusColor(purchase.status)">
              </ion-icon>

              <!-- Arrow icon aligned in left-center -->
              <ion-icon name="chevron-forward-outline" class="arrow-icon"></ion-icon>

              <!-- Display order status icon on the right side of the arrow -->

            </div>

            <!-- Purchase item details (Order Number as Title and First Product as Description) -->
            <ion-label class="training-details">
              <h2>הזמנה מס' {{ purchase.orderNumber }}</h2>
              <p>{{ purchase.products[0].name }}</p>
            </ion-label>
          </ion-card-header>
        </ion-card>
      </ion-list>
    </div>
  </div>
</ion-content>
