<ion-header>
  <ion-toolbar>
    <ion-title>Manage Trainings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="addTraining()">Add New Training</ion-button>

  <ion-list>
    <ion-item *ngFor="let training of trainings">
      <ion-label>
        <h2>{{ training.title }}</h2>
        <p>{{ training.date }} - {{ training.time }}</p>
      </ion-label>
      <ion-button color="secondary" (click)="editTraining(training.id)">Edit</ion-button>
      <ion-button color="danger" (click)="deleteTraining(training.id)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
