// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-safe-area-bottom: 14px;
}

.ios {
    --ion-safe-area-top: -1 !important;
    --ion-safe-area-bottom: 14px;
}