<ion-header>
  <ion-toolbar>
    <ion-title>Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Current Subscription</ion-label>
      <ion-note>{{ currentSubscription.name }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="viewPackages()">View Packages</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Payment History</ion-label>
    </ion-item>
    <ion-item *ngFor="let payment of paymentHistory">
      <ion-label>
        <h2>{{ payment.date }}</h2>
        <p>{{ payment.amount }} {{ payment.currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
