
/* Sticky Header Styling */
.sticky-header {
  position: sticky;
  top: 0; /* Sticks the header to the top of the page */
  z-index: 100; /* Ensures the header stays on top of other elements */
  background-color: white; /* Ensure background is white for clarity */

}

/* Scrollable List Styling */
.scrollable-list {
  height: calc(100vh - 130px); /* Adjust height based on your header height */
  overflow-y: auto; /* Allow only the list to scroll */
}

/* Full-width card styling */
.training-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

// Header of each card
.training-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

//Favorite Icon
.favorite-icon {
  font-size: 24px;
  color: #5A5A5A;
}

//Training Title in card
.training-header h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: -30px;
  color: #333;
  font-family: 'Alef';
}

//Training Timing in card
.training-header p {
  font-size: 0.9em;
  color: #666;
  margin-top: -20px;
  font-family: 'Alef';
}

/* Progress bar styling */
.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

ion-progress-bar {
  --progress-background: #E0E0E0;
  --background: #9B59B6; /* Purple color to match your image */
  border-radius: 10px;
  height: 10px;
  flex-grow: 1;
  margin-left: 10px;
}

ion-label {
  font-size: 2em;
  color: #333;
}

//Enroll Button
ion-button {
 //margin-top: 10px;
  font-weight: bold;  
  --border-radius: 25px;
}

//Each ion Segment
.segment-tab .days-tabs {
  overflow-x: hidden;
  --background: #fff;
  --indicator-color: #3498db;
  --border-radius: 10px;
  margin-top: 10px;
}

//Each ion Segment
.filter-segment {
  color: red;
}

ion-segment-button ion-label {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Alef';
}

ion-segment-button ion-note {
  font-size: 1em;
  color: #666;
  font-weight: bold;
  font-family: 'Alef';
}

ion-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-start: 0;
  --padding-end: 0;
  padding: 0;  /* Remove padding for the item */
}

/* Header Tabs Styling */
.header-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
  padding: none;
}

/* Tab styling */
.custom-tabs {
  border: 1px solid #ccc;
  border-radius: 10px;
  //padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: relative; /* Make sure the indicator stays within the button */
  --background-activated: transparent; /* Remove grey background when clicked */
  --background-focused: transparent; /* Remove grey background when focused */
  --background: transparent; /* Ensure the default background is transparent */
  font-size: 1em;
  --color-checked: #333;
  --color: #666;
  //padding: 10px;
  padding-bottom: 10px;
  width: 90%;
  margin-left: 10px;
  --indicator-color: transparent; /* Remove the default active indicator */
}

.segment-button-checked {
  transition: all 0.3s ease;
  border-bottom: #3498DB solid 4px;
}


.filter-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.filter-icon {
  --color: #000;
}

.clear-filter-icon {
  font-size: 24px;
  color: #e74c3c;
  margin-left: 10px;
  cursor: pointer;
}

.filter-dropdown {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
}

ion-select {
  --placeholder-color: #999;
  --color: #333;
  --background: #fff;
  --border-radius: 10px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

