<ion-content #popup class="popup-modal-trainings">
  <div class="drag-handle"></div>
  
  <div class="content-container">
    <div class="sticky-header">
      <!-- Header Tabs for "All" and "Favorites" -->
      <div class="header-tabs">
        <ion-segment mode="md" [(ngModel)]="selectedFilter" class="segment-tab">
          <ion-segment-button value="all" class="custom-tabs">
            <ion-label>הכל</ion-label>
          </ion-segment-button>
          <ion-segment-button value="favorites" class="custom-tabs">
            <ion-label>מועדפים</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

    <!-- Scrolling Tabs for Days -->
    <ion-segment scrollable mode="md" [(ngModel)]="selectedDay" class="days-tabs">
      <ion-segment-button *ngFor="let day of days" value="{{ day.date }}" class="custom-tabs">
        <ion-label>{{ day.day }}</ion-label>
        <ion-note>{{ day.date }}</ion-note>
      </ion-segment-button>
    </ion-segment>

      <!-- Single Filter Button with clear "X" button -->
      <div class="filter-header">
        <ion-icon name="filter-circle-outline" class="filter-icon" (click)="toggleDropdown()" size="large"></ion-icon>
        <ion-icon name="close-circle-outline" class="clear-filter-icon" *ngIf="selectedType" (click)="clearTypeFilter()"></ion-icon>
      </div>

      <!-- Modern Dropdown for Filters -->
      <ion-list *ngIf="showDropdown" class="filter-dropdown">
        <ion-item>
          <ion-label>סוג אימון</ion-label>
          <ion-select [(ngModel)]="selectedType" interface="popover" placeholder="בחר סוג אימון">
            <ion-select-option *ngFor="let type of availableTypes" [value]="type">{{ type }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>זמינות</ion-label>
          <ion-segment [(ngModel)]="availabilityFilter">
            <ion-segment-button value="all">
              <ion-label>הכל</ion-label>
            </ion-segment-button>
            <ion-segment-button value="available">
              <ion-label>זמין בלבד</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-list>
    </div>
    
    <div *ngFor="let appointment of getAppointmentsForSelectedDay()" class="card">
      <div class="card-header">
        <h3>{{ appointment.service.name }}</h3>
        <ion-icon name="heart-outline" (click)="toggleFavorite(appointment)" [class.favorite]="appointment.favorite"></ion-icon>
      </div>
      
      <div class="card-content">
        <div class="time-date">
          {{ appointment.start_time | date: 'HH:mm' }} | {{ appointment.start_time | date: 'dd/MM/yyyy' : 'he-IL' }}
        </div>
    
        <div class="progress-bar-container">
          <div class="progress-bar">
            <div class="progress" [style.width]="calculateProgress(appointment) + '%'"></div>
          </div>
          
          <div class="participants-container">
            <div class="participants" (mouseenter)="showPopup(appointment)" (mouseleave)="hidePopup()">
              {{ appointment.booked }}/{{ appointment.total_participants }}
              <ion-icon name="people-outline"></ion-icon>
    
              <!-- Wikipedia-like popup for participant names -->
              <div class="participant-popup" *ngIf="isPopupVisible && activeAppointment === appointment">
                <h4>משתתפים</h4>
                <ul>
                  <li *ngFor="let participant of appointment.current_participants">
                    {{ participant }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card-footer">
        <button class="action-button" [ngClass]="{ 'full': isFull(appointment) }">
          {{ isFull(appointment) ? 'הצטרפות לרשימת המתנה' : 'הרשמה' }}
        </button>
      </div>
    </div>
    
  </div>
</ion-content>
