<ion-header>
  <ion-toolbar>
    <ion-title>Manage Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addUser()">
        <ion-icon name="person-add-outline"></ion-icon>
        Add User
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.user_login }}</h2>
        <p>{{ user.display_name }} ({{ user.user_nicename }})</p>
        <p>Email: {{ user.user_email }}</p>
        <p>Registered: {{ user.user_registered }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="editUser(user)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="removeUser(user.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
