<ion-content #popup class="popup-modal-trainings">
  <div class="drag-handle"></div>
  
  <div class="content-container">
    <div class="sticky-header">
      <!-- Header Tabs for "All" and "Favorites" -->
      <div class="header-tabs">
        <ion-segment mode="md" [(ngModel)]="selectedFilterAllFav" class="segment-tab" (ionChange)="filterFavAll($event)">
          <ion-segment-button
            value="all"
            class="header-tab"
            *ngIf="userFavLocation === 'בן יהודה' || userFavLocation === 'הכל'">
            <ion-label>בן יהודה</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="shalom"
            class="header-tab segment-button-checked-shalom"
            *ngIf="userFavLocation === 'שלום עליכם' || userFavLocation === 'הכל'">
            <ion-label>שלום עליכם</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="favorites"
            class="header-tab segment-button-checked-fav">
            <ion-label>מועדפים</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div *ngIf="!showSkeleton">
        <!-- Scrolling Tabs for Days -->
        
        <!-- template.html -->
        <div class="segment-container">
          <div class="segment-scroll" #segmentScroll>
            <ng-container *ngFor="let day of days">
              <button 
                #segmentButton
                class="segment-button" 
                [class.active]="selectedDay === day.date"
                (click)="onDayChange(day.date)">
                <span class="segment-label">{{ day.day }} </span>
                <span class="segment-label">{{ day.formattedDate }}</span>
              </button>
            </ng-container>
          </div>
        </div>
        
          

        <div class="filter-header" *ngIf="!showSkeleton">
          <button class="icon-button" 
        (click)="toggleFilterDropdown($event)" 
        [@buttonState]="getDropdownState()">
            <i class="filter-icon"><ion-icon name="filter-outline" class="filter-icon"></ion-icon></i>
          </button>
          <button class="icon-button calendar-button">
            <i class="calendar-icon"><ion-icon name="calendar-outline" class="calendar-icon" (click)="openCalendarPopup()" *ngIf="!this.isTrainer"></ion-icon></i>
          </button>
        </div>        

        <!-- Modern Dropdown for Filters -->
        <ion-list class="filter-dropdown"
        [@dropdownState]="getDropdownState()" 
        (@dropdownState.done)="dropdownAnimationDone($event)"
        *ngIf="showDropdown || isAnimating">
          <ion-item>
            <ion-label style="text-indent: 8px;">סוג אימון</ion-label>
            <ion-select [(ngModel)]="selectedType" interface="popover" placeholder="בחר סוג אימון" (ionChange)="onTypeChange()">
              <ion-select-option *ngFor="let type of availableTypes" [value]="type">{{ type }}</ion-select-option>
            </ion-select>

            <!-- Red "x" button to reset filter, visible only if a type is selected -->
            <ion-button *ngIf="selectedType" color="danger" fill="clear" (click)="resetTypeFilter()">
              <ion-icon name="close-circle"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label style="text-indent: 8px;">זמינות</ion-label>
            <ion-segment [(ngModel)]="availabilityFilter" (ionChange)="onFilterChange()">
              <ion-segment-button value="all">
                <ion-label>הכל</ion-label>
              </ion-segment-button>
              <ion-segment-button value="available">
                <ion-label>זמין בלבד</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-list>
      </div>

      <!--Skeleton Section-->
      <ion-list *ngIf="showSkeleton">
        <ion-list-header>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-list-header>
        <ion-item *ngFor="let i of [1, 2, 3, 4]" lines="none" class="skeleton-item">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      
      <!--Appointments Section-->
      <div *ngFor="let appointment of filteredAppointments" class="card">
        <div class="card-header">
          <h3>{{ appointment.title.name }}</h3>
          <ion-icon name="heart-outline" (click)="toggleFavorite(appointment)" [class.favorite]="appointment.favorite"></ion-icon>
          <ion-icon name="play-circle-outline" (click)="openMusicModal(appointment)"></ion-icon>
          <button class="action-button calendar-button">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>הוסף ליומן</span>
          </button>
            <!-- Show the badge if there is at least one song -->
            <!-- <ion-badge  color="primary" class="song-count-badge"> -->
            <!-- {{ appointment.songsCount }} -->
            <!-- </ion-badge> -->
        </div>
        
        <div class="card-content">
          <div class="time-date">
            {{ appointment.start_time | date: 'HH:mm' }}
          </div>
      
          <div class="progress-bar-container">
            <div class="progress-bar">
              <div
                class="progress"
                [style.width]="calculateProgress(appointment) + '%'"
                [ngStyle]="{
                  'background-color': selectedFilterAllFav === 'shalom' ? '#ff8366' : '#59c7cd'
                }"
              ></div>
            </div>
          
            
            <div class="participants-container">
              <div class="participants" (mouseenter)="showParticipantsPopup(appointment)" (mouseleave)="hideParticipantsPopup()">
                {{ appointment.booked }}/{{ appointment.total_participants }}
                <ion-icon name="people-outline"></ion-icon>
      
                <!-- Wikipedia-like popup for participant names -->
                <div class="participant-popup" *ngIf="isPopupVisible && activeAppointment === appointment">
                  <ul>
                    <li *ngFor="let participant of appointment.current_participants">
                      {{ participant }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <!-- Check if user is already booked -->
          <ng-container *ngIf="appointment.isUserBooked">
            <button class="action-button enrolled-button" disabled>
              <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
              רשום
            </button>
          </ng-container>
        
          <!-- Show standby or enroll button only if user is NOT booked -->
          <ng-container *ngIf="!appointment.isUserBooked">
            <!-- Show standby button if appointment is full -->
            <button 
              *ngIf="appointment.booked === appointment.total_participants" 
              class="action-button" 
              [ngClass]="{
                'standby-enrolled': appointment.isStandbyEnrolled,
                'loading': appointment.isStandbyLoading && !appointment.isStandbyEnrolled,
                'success': appointment.isStandbySuccess && !appointment.isStandbyEnrolled,
                'error': appointment.isError && !appointment.isStandbyEnrolled
              }" 
              [disabled]="appointment.isStandbyEnrolled || appointment.isStandbyLoading || appointment.isStandbySuccess || appointment.isError"
              (click)="addToStandbyList(appointment ?? 0, userId, userEmail)"
            >
              <ng-container *ngIf="appointment.isStandbyEnrolled"> רשום להמתנה </ng-container>
              <ng-container *ngIf="!appointment.isStandbyEnrolled && !appointment.isStandbyLoading && !appointment.isStandbySuccess && !appointment.isError">
                הרשמה להמתנה
              </ng-container>
              <ng-container *ngIf="!appointment.isStandbyEnrolled && appointment.isStandbyLoading">
                <ion-spinner name="crescent"></ion-spinner>
              </ng-container>
              <ng-container *ngIf="!appointment.isStandbyEnrolled && appointment.isStandbySuccess">
                <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
              </ng-container>
              <ng-container *ngIf="!appointment.isStandbyEnrolled && appointment.isError">
                <ion-icon name="close-circle" class="error-icon"></ion-icon>
              </ng-container>
            </button>
        
            <!-- Show regular enroll button if slots are available -->
            <button *ngIf="appointment.booked < appointment.total_participants" 
              (click)="enrollUser(appointment)" 
              class="action-button" 
              [disabled]="appointment.isLoading || appointment.isSuccess"
              [ngClass]="{'loading': appointment.isLoading, 'success': appointment.isSuccess}"
            >
              <ng-container *ngIf="!appointment.isLoading && !appointment.isSuccess">הרשמה</ng-container>
              <ng-container *ngIf="appointment.isLoading">
                <ion-spinner name="crescent"></ion-spinner>
              </ng-container>
              <ng-container *ngIf="appointment.isSuccess">
                <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
              </ng-container>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>
