<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <joy-ride></joy-ride> </ion-app>


<ion-content class="ion-padding ion-iphone" #mainContent>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      refreshingSpinner="crescent"
      pullingIcon="false"
    ></ion-refresher-content>
  </ion-refresher>

<!-- מסך הפתיחה -->
<ion-modal [isOpen]="showIntro" cssClass="intro-modal">
  <!-- *** חובה ng-template *** -->
  <ng-template>
    <ion-content class="ion-padding">
      <div class="intro-wrapper">
        <img src="assets/illustrations/welcome.svg" class="intro-illus" />

        <h2 class="intro-title">ברוכים הבאים ל K Studio!</h2>

        <p class="intro-text">
          שנתחיל במדריך קצר שיחסוך לך שאלות על השימוש באפליקציה? 😁
        </p>

        <ion-button expand="block" (click)="startAppTutorial()">
          יאללה, מגניב!
        </ion-button>
        <ion-button expand="block" (click)="closeAppTutorial()">
          אוותר על התענוג
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

  
  <!-- Container for bell icon and title -->
  <div class="header-row">
    <!-- Bell Icon -->
    <ion-button class="bell-icon" (click)="openNotifications()" fill="clear">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
  
    <!-- Centered Title/Logo -->
    <ion-text color="dark">
      <h1 class="page-title home">K Studio</h1> <!-- Your title here -->
    </ion-text>
  
    <!-- WhatsApp Icon -->
    <ion-button class="whatsapp-icon" (click)="openWhatsApp()" fill="clear">
      <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
    </ion-button>
  </div>

    <!-- Upcoming Trainings Section -->
  <div id="home-upcoming-trainings-section" 
      joyrideStep="upcomingTrainingsStep" 
      title="אימונים קרובים" 
      text="כאן תוכל לראות את האימונים הקרובים שלך.">
      <ion-card-title class="homepage-subtitle">אימונים קרובים</ion-card-title>

  <div *ngIf="isLoadingTrainings">
    <div class="skeleton-container">
      <div class="skeleton-item" *ngFor="let i of [].constructor(3)">
        <ion-skeleton-text animated style="width: 80%; margin-bottom: 0.5rem;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text><br>
        <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      </div>
    </div>
  </div>

  
  <div class="upcoming-swiper-container" [hidden]="isLoadingTrainings">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide upcoming-swiper-slide"
        *ngFor="let training of upcomingTrainings; let i = index"
        [@fadeOutAnimation]="training.fadeOut ? 'fadeOut' : 'fadeIn'"
      >
        <ion-card-header class="upcoming-card-header">
          <ion-card-title class="upcoming-card-title">{{ training.serviceName }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="upcoming-card-content">
          {{ (training.providerID === 169 || training.providerID === 172) ? 'בן יהודה' : 
          (training.providerID === 643 || training.providerID === 644) ? 'שלום עליכם' : 
          training.providerID }}<br>
          {{ training.startTime | date: 'dd.MM' }} | {{ training.startTime | date: 'HH:mm' }}
        </ion-card-content>
        <ion-icon
          slot="icon-only"
          name="trash-outline"
          class="trash-icon"
          (click)="openConfirmDialog(training, i)"
        ></ion-icon>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  
    <!-- Custom Confirmation Dialog -->
    <div class="custom-dialog" *ngIf="isConfirmDialogVisible">
      <div class="dialog-content">
        <h3>ביטול אימון</h3>
        <p>האם הינך בטוח/ה שברצונך לבטל אימון זה?</p>
        <div class="dialog-buttons">
          <button class="cancel-button" (click)="closeConfirmDialog()">ביטול</button>
          <button class="confirm-button" (click)="confirmDelete()">אישור</button>
        </div>
      </div>
    </div>
  </div>

  <ion-card-content *ngIf="!isLoadingTrainings && (!upcomingTrainings || upcomingTrainings.length === 0)">
    <p class="no-trainings">אין אימונים קרובים כרגע</p>
  </ion-card-content>


  </div>



  <!-- What's New Section -->
    <ion-card-title class="homepage-subtitle">מה חדש?</ion-card-title>


  <!-- Swiper Section for Fitness Tips with Skeleton Loader -->
  <div *ngIf="isLoading">
    <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
  </div>

    <!-- Tips Section -->
  <div id="home-tips-section" 
      joyrideStep="tipsStep" 
      title="טיפים חשובים" 
      stepPosition="top"
      text="בכל פעם שתיכנס תקבל טיפ חדש שיעזור לך להתמיד ולהשתפר!">
      <!-- Swiper Section for Fitness Tips -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let tip of fitnessTips">
          <img [src]="tip.image" alt="tip image" class="fitness-card-img">
          <ion-card-header class="fitness-card-header">
            <ion-card-title class="fitness-card-title">{{ tip.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="fitness-card-content">
            {{ tip.description }}
          </ion-card-content>
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  </div>

</ion-content>


 

  <!-- Custom Bottom Navigation Bar -->
  <div class="custom-nav-bar">
    <!-- Home Button -->
    <div class="nav-item">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>בית</ion-label>
    </div>

    <!-- Trainings Button -->
    <div class="nav-item" (click)="openTrainings()">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>אימונים</ion-label>
    </div>

    
    <!-- Manage Packages Button -->
    <div class="nav-item" *ngIf="userRole == 'administrator'" (click)="openManagePackages()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>ניהול</ion-label>
    </div>
    
    <!-- Profile Button -->
    <div class="nav-item" (click)="openProfile()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>פרופיל</ion-label>
    </div>


    <!-- Profile Button 
    <div class="nav-item" (click)="openPurchase()">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>רכישה</ion-label>
    </div>
    -->
  </div>


