<ion-header>
  <ion-toolbar>
    <ion-title>Admin Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Manage Trainings</ion-label>
      <ion-button expand="full" (click)="navigateTo('manage-trainings')">Go</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Manage Enrollments</ion-label>
      <ion-button expand="full" (click)="navigateTo('manage-enrollments')">Go</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Send Notifications</ion-label>
      <ion-button expand="full" (click)="navigateTo('send-notifications')">Go</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
