<ion-header>
  <ion-toolbar>
    <ion-title>Admin Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button expand="full" (click)="manageTrainings()">Manage Trainings</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="manageEnrollments()">Manage Enrollments</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" (click)="sendNotifications()">Send Notifications</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
